* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

svg {
  width: 32;
  height: 32;
  fill: none;
}

body {
  color: 272727;
  line-height: inherit;
  font-family: ArminGrotesk, ArminGroteskBlack, ArminGroteskSemiBold, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#header_wrap {
  background-color: rgb(248, 241, 217);
  color: #381fd1;
}

.header {
  margin: 0 auto;
  width: 1320px;
}

.header {
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.gnb_left,
.gnb_right {
  text-align: center;
  display: flex;
}

.gnb_left {
  margin-right: 100px;
}

.gnb_left > li {
  width: 140px;
}

.gnb_right > li > a {
  display: block;
}

.gnb_right > li {
  width: 200px;
}

.gnb_left > li > a:hover {
  border-radius: 10px;
  border: 3px solid blue;
  padding: 5px 20px;
}

#content_wrap {
  background-color: aqua;
  overflow: hidden;
}

.container_wrap {
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 50px;
  margin: 0 auto;
  width: 1320px;
  display: flex;
}
.Search_Library {
  margin-bottom: 14px;
  font-weight: 500;
}
.nav_wrap {
  background-color: rgb(13, 105, 105);
  width: 280px;
  padding-top: 64px;
  padding: 16px 0px 16px 20px;
  font-style: none;
}

.container {
  width: 900px;
  background-color: yellow;
  padding-top: 64px;
}
h2 {
  font-size: 3rem;
  color: #10284b;
  font-weight: 900;
}

h4 {
  font-size: 1.5rem;
  color: #10284b;
}
.h2_box {
  display: flex;
}
.grid_box {
  width: 260px;
}

.grid_box_font {
  font-size: 24px;
}
.grid_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  row-gap: 30px;
  column-gap: 30px;
  margin-top: 24px;
  margin-bottom: 64px;
}

.box1 {
  background-color: red;
}
.box2 {
  background-color: blue;
}
.box3 {
  background-color: rgb(154, 154, 231);
}
.box4 {
  background-color: green;
}
.box5 {
  background-color: rgb(165, 207, 165);
}
.box6 {
  background-color: rgb(67, 221, 67);
}
.grid_wrap2 {
  column-gap: 32px;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, 261px);
  row-gap: 32px;
}
