* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

/* img {
  width: 32;
  height: 32;
  fill: none;
} */
/* 
.grid_box__img {
  border: 1px solid;
  border-radius: 10px;
} */

body {
  color: 272727;
  line-height: inherit;
  font-family: ArminGrotesk, ArminGroteskBlack, ArminGroteskSemiBold, sans-serif;
}

ul,
ol {
  list-style: none;
}
.Search_Library {
  padding-top: 64px;
}
.nav2 > li {
  height: 16px;

  padding: 16px;
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

#header_wrap {
  background-color: rgb(248, 241, 217);
  color: #381fd1;
}

.header {
  margin: 0 auto;
  width: 1320px;
}

.header {
  padding-top: 20px;
  box-sizing: border-box;
  font-size: 15px;
  display: flex;
  justify-content: center;
  height: 64px;
}

.gnb_left,
.gnb_right {
  text-align: center;
  display: flex;
}

.gnb_wrap {
  font-weight: bold;
  align-items: center;
}
.gnb_left {
  margin-right: 100px;
}

.gnb_left > li {
  width: 140px;
}

.gnb_right > li:nth-child(1) > a:hover {
  border-radius: 10px;
  border: 3px solid blue;
  padding: 5px 20px;
}
/* .gnb_right{
  padding-bottom: 20px;
} */
.gnb_right > li {
  font-weight: bold;
  width: 210px;
}
.gnb_right > li:nth-child(2) {
  background-color: #381fd1;
  color: white;
  border-radius: 10px;
  padding: 5px 0px;
}
.gnb_left > li > a:hover {
  border-radius: 10px;
  border: 3px solid blue;
  padding: 5px 20px;
}

#content_wrap {
  overflow: hidden;
}

.container_wrap {
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 50px;
  margin: 0 auto;
  width: 1320px;
  display: flex;
}
.Search_Library {
  margin-bottom: 14px;
  font-weight: 500;
}
.nav_wrap {
  width: 280px;
  padding-top: 64px;
  padding: 16px 0px 16px 20px;
  font-style: none;
}
.util_box {
  background-color: #becff1;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.util_link {
  text-align: center;
  background-color: #381fd1;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

.container {
  width: 900px;
  padding-top: 64px;
}
h2 {
  font-size: 3rem;
  color: #10284b;
  font-weight: 900;
}

h4 {
  font-size: 1.5rem;
  color: #10284b;
}
.h2_box {
  display: flex;
}
.grid_box {
  width: 260px;
}

.grid_box_font {
  font-size: 24px;
}
.grid_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  row-gap: 30px;
  column-gap: 30px;
  margin-top: 24px;
  margin-bottom: 64px;
}

.box1 {
  border: 1px solid;
  border-radius: 10px;
  padding: 24px 24px 40px;
}
.box2 {
  border: 1px solid;
  border-radius: 10px;
  padding: 24px 24px 40px;
}
.box3 {
  border: 1px solid;
  border-radius: 10px;
  padding: 24px 24px 40px;
}
.box4 {
  border: 1px solid;
  border-radius: 10px;
  padding: 24px 24px 40px;
}
.box5 {
  border: 1px solid;
  border-radius: 10px;
  padding: 24px 24px 40px;
}
.box6 {
  border: 1px solid;
  border-radius: 10px;
  padding: 24px 24px 40px;
}
.grid_wrap2 {
  column-gap: 32px;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, 261px);
  row-gap: 32px;
  margin-bottom: 100px;
}
.grid_box2 {
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 20px;
  width: 280px;
  height: 350px;
}
.h1_box {
  display: flex;
  justify-content: space-between;
}
.grid_box img {
  border: 1px solid #777;
  border-radius: 10px;
  padding: 5px 2px;
}
#footer_wrap {
  padding: 100px 0px;
  background-color: rgb(16, 40, 75);
  color: #f6f6eb;
  justify-content: center;
  font-size: 16px;
}
.footer__social.grid {
  justify-content: space-between;
}
.card_box1 {
  background-size: cover;
  overflow: hidden;
  background-image: url(https://res.cloudinary.com/stark-lab/image/upload/v1653845742/library_collection_Collection_Boundless_Disability_Employment_c297d236d9.png);
  padding: 32px;
}
.card_box2 {
  background-size: cover;
  overflow: hidden;
  background: url(https://res.cloudinary.com/stark-lab/image/upload/v1653845743/library_collection_making_accessible_color_combos_42c8d90a99.png)
    0px 50px no-repeat;
  padding: 32px;
}
.card_box3 {
  background-size: cover;
  overflow: hidden;
  background: url(https://res.cloudinary.com/stark-lab/image/upload/v1653845743/library_collection_Inclusive_Social_Media_b9669e6d39.png)
    50px 0px no-repeat;
  padding: 32px;
}

.grid_box3 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 300px;
}
.grid_wrap3 {
  text-align: left;
  width: 1320px;
  margin: 0 auto;
  display: grid;
  row-gap: 70px;
  column-gap: 30px;
  grid-template-columns: repeat(auto-fill, 300px);
}
.footer_social {
  width: 1320px;
  margin: 50px auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.social_wrap {
  display: flex;
}
.social_wrap li {
  display: flex;
  width: 80px;
}
.soscial_wrap > li > img {
  display: block;
  width: 100%;
}
.footer_social > p {
  font-size: 20px;
  font-weight: bold;
  margin-right: 100px;
  color: antiquewhite;
}
